<ion-header>
  <ion-toolbar style="--background: #3880ff; --color: white;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/autor"></ion-back-button>
    </ion-buttons>
    <ion-title>Curriculum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-top: 15px">
    <ion-label style="margin-left: 15px; font-weight: bold">
      2010-actualidad:
    </ion-label>
    <ion-item>
      <ion-text>
        Profesora del Máster Universitario en Desarrollo de Software para
        Dispositivos Móviles.
        </ion-text>
    </ion-item>
  </ion-list>

  <ion-list style="margin-top: 15px">
    <ion-label style="margin-left: 15px; font-weight: bold">
      2015-actualidad:
      </ion-label>
    <ion-item>
      <ion-text>
        Profesor del Máster Universitario en Desarrollo de Aplicaciones y Servicios Web.
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
